cantools
fastapi
hypercorn
jinja2
kaleido
lxml
mdfreader
numpy
pandas
pandoc
plotly
psutil
py7zr
pyautogui
pygetwindow
pypandoc
pyperclip
python-can
python-docx
python-multipart
pywin32
screeninfo
tqdm
uvicorn
xlsxwriter
