name: BOT-Master
on:
  schedule:
    # ┌───────────── 분 (0 - 59)
    # │ ┌───────────── 시 (0 - 23), UTI
    # │ │ ┌───────────── 일 (1 - 31)
    # │ │ │ ┌───────────── 월 (1 - 12)
    # │ │ │ │ ┌───────────── 요일 (0 - 7) (0과 7은 일요일)
    # │ │ │ │ │
    # * * * * *
    # *: 모든 값
    # ,: 여러 값 지정
    # -: 범위 지정
    # /: 간격 지정
    - cron: '0 * * * *'    # 매 정시
    - cron: '30 * * * *'   # 매 30분
  workflow_dispatch:


permissions:
  contents: write
  id-token: write

jobs:
  run-script:

    runs-on: ubuntu-latest
    steps:
    - name: Set environment variable
      run: |
        EVENT_NAME="${GITHUB_EVENT_NAME}"
        if [ "$EVENT_NAME" = "schedule" ]; then
          CRON_VALUE=$(jq -r '.schedule' "$GITHUB_EVENT_PATH")
          echo "github_event=${EVENT_NAME}:${CRON_VALUE}" >> $GITHUB_ENV
        else
          echo "github_event=${EVENT_NAME}" >> $GITHUB_ENV

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: '3.11'
          architecture: 'x64'

    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      if: ${{ hashFiles('**/requirements*.txt') != '' }}
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      working-directory: src
      run: |   
        export PYTHONPATH=$PYTHONPATH:${{ github.workspace }}
        python bot/master.py
