name: BOT-Master
on:
  schedule:
    # ┌───────────── 분 (0 - 59)
    # │ ┌───────────── 시 (0 - 23), UTC
    # │ │ ┌───────────── 일 (1 - 31)
    # │ │ │ ┌───────────── 월 (1 - 12)
    # │ │ │ │ ┌───────────── 요일 (0 - 7) (0과 7은 일요일)
    # │ │ │ │ │
    # * * * * *
    # *: 모든 값
    # ,: 여러 값 지정
    # -: 범위 지정
    # /: 간격 지정
#    - cron: '0 * * * *'    # 매 정시
#    - cron: '30 * * * *'   # 매 30분
    - cron: '*/30 6-23 * * *' # KST 15:00 ~ 익일 08:59  (UTC 06:00 ~ 23:59), 30분 간격
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/bot_master.yml

permissions:
  contents: write
  id-token: write


concurrency:
  group: run-workflow
  cancel-in-progress: true


jobs:
  run-script:
    env:
      EVENT_NAME: ${{ github.event_name }}
      CRON_TIMER: ${{ (github.event.schedule || ") }}

    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: '3.11'
          architecture: 'x64'

    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      if: ${{ hashFiles('**/requirements*.txt') != '' }}
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run script
      working-directory: src
      run: |   
        export PYTHONPATH=$PYTHONPATH:${{ github.workspace }}
        python bot/master.py

    - name: Set Git Configuration
      run: |
        git config --global user.name 'BOT@v1'
        git config --global user.email 'snob.labwons@gmail.com'        

    - name: Commit and Push Changes to Archive
      working-directory: ./labwons-analytic
      run : |
        git add .
        TIMESTAMP=$(date)
        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          git commit -m "BOT@v1 ACTION on $TIMESTAMP"
          git push
        fi
